:root {
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-inactive-color: #777e90;
  --swiper-pagination-bullet-active-color: #3b71fe;
  --swiper-pagination-bullet-inactive-opacity: 0.8;
}
.swiper-navigation {
}
.swiper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* background-color: black; */
  width: 100%;
  width: 100%;
}
.swiper-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.carousel {
  position: relative;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
}
.swiper-slide {
  color: red;
  display: block;
  width: 100%;
  height: 100%;
}
