:root {
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-inactive-color: #777e90;
  --swiper-pagination-bullet-active-color: #3b71fe;
  --swiper-pagination-bullet-inactive-opacity: 0.8;
}
.swiper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  width: 100%;
}
.carousel {
  position: relative;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
