* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
html {
  padding-top: 88px;
  display: flex;
  text-align: center;
  justify-content: center;
}
body {
  max-width: 1180px;
}
html,
body {
  min-width: 320px;
}
